<table class="table table-striped mt-3">
    <tbody>
        <tr >
            <th scope="row">{{vehiculoLista.placa}}</th>
            <td>{{vehiculoLista.sede}}</td>
            <td>{{vehiculoLista.tipoUnidad}}</td>
            <td>{{vehiculoLista.clase}}</td>
            <td>{{vehiculoLista.marca}}</td>
            <td>{{vehiculoLista.modelo}}</td>
            <td>{{vehiculoLista.color}}</td>
            <td>{{vehiculoLista.anio}}</td>
        </tr>                       
    </tbody>
</table>